network:
    version: 2
    renderer: networkd
    
    ethernets:
        {{ wan_interface }}:
            dhcp4: false
            dhcp6: false
            addresses:
                - {{ ansible_host }}/{{ wan_prefix }}
            nameservers:
                addresses: {{ dns_servers | to_json }}
                search: []
            routes:
                - to: default
                  via: {{ wan_gateway }}
    
    wifis:
        {{ lan_interface }}:
            dhcp4: false
            dhcp6: false
            addresses:
                - {{ lan_ip }}/{{ lan_prefix }}
        
        {{ lan2_interface }}:
            dhcp4: false
            dhcp6: false
            addresses:
                - {{ lan2_ip }}/{{ lan2_prefix }}
