[Unit]
Description=Hostapd LAN Access Point
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/hostapd-lan.pid
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd-lan.pid /etc/hostapd/hostapd-lan.conf
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target